<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Black Belt - Travel Buddy</title>
    <style media="screen">
      div{
        border: 1px solid black;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
      }
      h4{
        margin: 0;
        padding: 10px 0;
      }
      label{
        width: 100px;
        display: inline-block;
      }

      .error{
        margin: 0;
        color: red;
      }
    </style>
  </head>
  <body>
    <h3>Welcome</h3>

    {% if messages %}
      {% for message in messages %}
        <p class="error">{{message}}</p>
      {% endfor %}
    {% endif %}
    <div id="register">
      <h4>Register</h4>
      <form class="" action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        <p><label for="name">Name:</label><input type="text" name="name" value=""></p>
        <p><label for="username">Username:</label><input type="text" name="username" value=""></p>
        <p><label for="password">Password:</label><input type="password" name="password" value=""></p>
        <p>*Password should be at least 8 characters</p>
        <p><label for="password_confirmation">Confirm PW:</label><input type="password" name="password_confirmation" value=""></p>
        <input type="submit" name="" value="Register">
      </form>
    </div>

    <div id="login">
      <h4>Login</h4>
      <form class="" action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <p><label for="username">Username:</label><input type="text" name="username" value=""></p>
        <p><label for="password">Password:</label><input type="password" name="password" value=""></p>
        <input type="submit" name="" value="Login">
      </form>
    </div>
  </body>
</html>
