<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Dashboard</title>
    <style media="screen">
      #header{
        position: relative;
        height: 30px;
      }
      #header a{
        display: inline-block;
        vertical-align: center;
        margin: 10px;
        position: absolute;
        right: 20px;
      }

      #add{
        position: relative;
        height: 30px;
      }
      #add a{
        display: inline-block;
        vertical-align: center;
        margin: 10px;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <a href="{% url 'users:logout' %}">Logout</a>
    </div>
    <h3>Hello, {{request.session.user.username.title}}!</h3>
    <div id="user_trips">
      <h4>Your Trip Schedules</h4>
      <table>
        <thead>
          <tr>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Plan</th>
          </tr>
        </thead>
        <tbody>
        {% if user_trips %}
          {% for trip in user_trips %}
          <tr>
            <td>{{trip.destination}}</td>
            <td>{{trip.start_date}}</td>
            <td>{{trip.end_date}}</td>
            <td>{{trip.description}}</td>
          </tr>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>
    </div>

    <div id="other_trips">
      <h4>Other User's Travel Plans</h4>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Do You Want To Join</th>
          </tr>
        </thead>
        <tbody>
        {% if other_trips %}
          {% for trip in other_trips %}
          <tr>
            <td>{{trip.planned_by.name}}</td>
            <td>{{trip.destination}}</td>
            <td>{{trip.start_date}}</td>
            <td>{{trip.end_date}}</td>
            <td><a href="{% url 'travels:join_trip' trip_id=trip.id user_id=request.session.user.id %}">Join</a></td>
          </tr>
        </tbody>
        {% endfor %}
      {% endif %}
      </table>
    </div>

    <div id="add">
      <a href="{% url 'travels:add' %}">Add Travel Plan</a>
    </div>
  </body>
</html>
